/* Import Tailwind if your build process supports it */
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-lato: 'Lato', sans-serif;
    --font-quicksand: 'Quicksand', sans-serif;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --column-pests: #e2f7cc;
  --column-farmer: #8787871f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
